.pagecontent {
    margin: 20px 300px;
}

.maintitle {
    padding: 4px;
    border: 1px solid #CCC;
    background-color: #EEE;
    color: #000;
    border-radius: 2px;
}

.maintext {
    margin-bottom: 20px;
}

.normalmode {
    margin-bottom: 280px;
}

.inlinemode {
    margin-bottom: 280px;
}
